body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #434ccc;
}
.header h3 {
  margin-left: 135px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--Text_White, #fff);
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.header .nav {
  margin-left: 200px;
}
.header nav .first {
  margin-left: 220px;
}
.header nav a {
  color: #fff;
  font-family: DM Sans;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 20px;
}
.header .sign-in {
  width: 170px;
  height: 48px;
  margin-right: 135px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  background-color: #434ccc;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-div {
  width: 100%;
  height: 224px;
  background: #434ccc;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-div h1 {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin-top: 1.25rem;
}
.custom-div p {
  margin-top: 0px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.location {
  position: relative;
  width: 100%;
  height: 1248px;
  background: #f5f6fd;
}
.location img {
  margin-top: 4rem;
  margin-left: 6.44rem;
  margin-right: 6.44rem;
  width: 67.125rem;
  height: 40rem;
}
.location .location-png {
  position: absolute;
  top: 17.75rem;
  left: 31.81rem;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 1;
}
.location .after-img {
  display: flex;
}
.location .contact-form {
  width: 49.62rem;
  margin-left: 6.44rem;
}
.location .contact-form h2 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
}
.location .contact-form .input-group {
  width: 757px;
  display: flex;
  margin-bottom: 1.75rem;
}
.location .contact-form .input-group .name {
  width: 22.5rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
}
.location .contact-form .input-group .email {
  margin-left: 2.06rem;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
  width: 22.5rem;
  height: 3rem;
}
.location .contact-form .message {
  width: 47.31rem;
  height: 9rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.location .contact-form button {
  margin-top: 1.75rem;
  width: 10.62rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_1, #434ccc);
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.location .info {
  margin-left: 0.5rem;
}
.location .info h2 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.location .info .shape {
  height: 3rem;
  width: 18.75rem;
  margin-bottom: 1.75rem;
  display: flex;
}
.location .info .shape .para {
  margin-left: 1.25rem;
  justify-content: center;
}
.location .info img {
  width: 3rem;
  height: 3rem;
  margin-left: 0;
  margin-top: 0;
  margin-right: 1.75rem;
}
.location .info .para1 span {
  margin-top: 0.25rem;
  width: 12.5rem;
  color: black;
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.location .info .para2 {
  padding-top: 10px;
}
.location .info .para3 {
  padding-top: 10px;
}
.location .info .para2 span {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.location .info .para3 span {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.location .logos {
  display: flex;
}
.location .logos div {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  background-color: #434ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.location .logos img {
  margin-left: 30px;
  width: 18px;
  height: 15px;
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
