#last-pt{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   .para{
        display: flex;
        color: #434CCC;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

@media screen and (min-width:390px) and (max-width:769px){
    #last-pt{
        width: 100%;
        display: flex;
        .para{
            color: #434CCC;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
