.hero-cards {
  display: grid;
  grid-template-columns: 834px 270px;
  grid-column-gap: 66px;
  padding: 0px 135px 0px 135px;
  background-color: #f5f6fc;
  height: 2560px;
}
.hero-cards > .cards-div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 2320px;
  gap: 32px;
  margin-top: 64px;
  margin-bottom: 0%;
}
.hero-cards > .cards-div > .cards {
  height: 752px;
  width: 834px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.hero-cards > .cards-div > .cards > .small {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 32px;
}
.hero-cards > .cards-div > .cards > .title {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin: 5px 56px 19px 32px;
}
.hero-cards > .cards-div > .cards > .para {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 770px;
  height: 81px;
  flex-shrink: 0;
  margin: 0px 32px 16px 32px;
}
.hero-cards > .cards-div > .cards > hr {
  margin-left: 32px;
  opacity: 0.1011;
  width: 802px;
  height: 1px;
  flex-shrink: 0;
  background: #000;
  margin-bottom: 16px;
}
.hero-cards > .cards-div > .cards > img {
  border-radius: 2px;
  display: block;
  margin: auto;
  margin: 32px;
  flex-shrink: 0;
}
.hero-cards > .cards-div > .cards > .writer {
  display: flex;
  align-items: center;
  margin: 0px 32px 0px 32px;
}
.hero-cards > .cards-div > .cards > .writer > img {
  border-radius: 50%;
  margin-left: auto;
  flex-shrink: 0;
}
.hero-cards > .cards-div > .cards > .writer > .more {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 7px;
}
.hero-cards > .cards-div > .cards > .writer > svg {
  width: 6px;
  height: 11px;
  flex-shrink: 0;
  fill: #000;
}
.hero-cards > .cards-div > .cards > .writer > .date {
  margin-left: 404px;
  margin-right: 30px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.hero-cards > .cards-div > .cards > .writer > .name {
  margin-right: 20px;
  color: var(--Text_Black, #000);
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.hero-cards > .page-nav {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 48px;
  margin-top: -40px;
}
.hero-cards > .page-nav > button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.categories {
  height: 2320px;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1440px;
  height: 3616px;
  display: flex;
  flex-direction: column;
}
.container .header {
  background-color: #434CCC;
  width: 1440px;
}
.container .header > .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 80px;
  margin: 0px 135px 0px 135px;
}
.container .header > .nav > h3 {
  color: white;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 534px;
}
.container .header > .nav > h3 > a {
  text-decoration: none;
  color: white;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.container .header > .nav > nav {
  display: flex;
  list-style-type: none;
  width: 324px;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
.container .header > .nav > nav > a {
  text-decoration: none;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  flex-shrink: 0;
}
.container .header > .nav > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  justify-self: end;
  align-content: end;
  border-color: rgba(255, 255, 255, 0.3019607843);
  background-color: #434CCC;
  border-radius: 8px;
  font-weight: 700;
  color: white;
}
.container .head-det {
  width: 1440px;
  height: 224px;
  background-color: #434CCC;
}
.container .head-det > h1 {
  color: white;
  text-align: center;
  margin-top: 47px;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.container .head-det > p {
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 55px;
}

/*# sourceMappingURL=style.css.map */
