
@media all and (min-width: 376px){

    .categories{
        height: 2320px;
        margin-top: 64px;
    
        >#searchbox{
            width: 270px;
            height: 48px;
            flex-shrink: 0;
            border: 1px solid #00000080;
            border-radius: 8px;
            padding-left: 16px;
            font-size: 16px;
        }
        >.categories-head{
            margin-top: 56px;
            color: var(--Text_Black, #000);
            font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            line-height: 32px;
        }
        >.cate-pages{
            display: flex;
            flex-direction: column;
            margin-top: 39px;
    
            >.page-crowler{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                >p:nth-child(1){
                    color: var(--Text_Black, #000);
                    font-family: DM sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                }
                >p:nth-child(2){
                    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                    text-align: right;
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            hr{
                margin-top: 9px;
                margin-bottom: 14px;
                width: 270px;
                height: 1px;
                flex-shrink: 0;
                opacity: 0.0974;
                background: #000;
            }
    
        }
        >.recent-head{
            color: var(--Text_Black, #000);
            font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            line-height: 32px;
            margin-top: 41px;
            margin-bottom: 39px;
        }
        >.posts-list{
            display: flex;
            gap: 23px;
            flex-direction: column;
    
            >.post{
                display: flex;
                gap: 29px;
    
                img{
                    width: 72px;
                    height: 48px;
                    flex-shrink: 0;
                    border-radius: 6px;
                }
                .t-d{
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
    
                    >p:nth-child(1){
                        width: 170px;
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        font-family: DM Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    >p:nth-child(2){
                        color: var(--Text_Black, #000);
                        font-family: DM Sans;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }
            }
        }
        .tags-head{
            color: var(--Text_Black, #000);
            font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            line-height: 32px;
            margin-top: 48px;
            margin-bottom: 40px;
        }
        >.tag-items{
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            
            >button{
                height: 32px;
                flex-shrink: 0;
                color: #434CCC;
                text-align: center;
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 3px 13px 3px 13px;
                border-radius: 5px;
                border: 1px solid #bcc0ed;
            }
        }
    }
}