@media all and (min-width: 740px) and (max-width: 950px){
    .container{
        width: 100%;
        .header{
            >#head-nav{
                width: 95%;
                // border: 1px solid;
                gap: 3%;
        
                nav{
                    display: none;
                    
                    a{
                        display: none;
                    }
                }
                >#ham{
                    display: block;
                    font-size: 40px;
                }
                >button{
                    margin-left: auto;
                }
            }
        }

    }
}
@media all and (max-width: 739px){
    .container{
        // width: 100%;
        .header{
            >#head-nav{
                width: 95%;
                // border: 1px solid;
                justify-content: space-between;
                // gap: 3%;
        
                nav{
                    display: none;
                    
                    a{
                        display: none;
                    }
                }
                >#ham{
                    display: block;
                    font-size: 40px;
                }
                >button{
                    // margin-left: auto;
                    display: none;
                }
            }
        }
        #hero-inn{
            width: 95%;
            flex-direction: column;
            
            .cards-div{
                margin-bottom: 70px;
                .cards{
                    margin-bottom: 16px;
                }
            }
            >.categories{
                padding-left: 1.5%;
                padding-right: 1.5%;
            }
        }
    }
}