@media all and (min-width: 740px) and (max-width: 950px){
    .container{
        width: 100%;
        .header{
            >#head-nav{
                width: 95%;
                gap: 3%;
        
                nav{
                    display: none;
                    
                    a{
                        display: none;
                    }
                }
                >#ham{
                    display: block;
                    font-size: 40px;
                }
                >button{
                    margin-left: auto;
                }
            }
        }
        #hero-inn{
            width: 95%;

            #page-nav-btn{
                gap: 3%;

                >button{
                    width: 48px;
                    height: 48px;
                }
            }
        }

    }
}
@media all and (max-width: 739px){
    .container{
        .header{
            >#head-nav{
                width: 95%;
                justify-content: space-between;
        
                nav{
                    display: none;
                    
                    a{
                        display: none;
                    }
                }
                >#ham{
                    display: block;
                    font-size: 40px;
                }
                >button{
                    display: none;
                }
            }
        }
        #hero-inn{
            width: 95%;
            flex-direction: column;
            
            .cards-div{
                margin-bottom: 70px;
                .cards{
                    margin-bottom: 16px;
                }
            }
            >.categories{
                padding-left: 1.5%;
                padding-right: 1.5%;
            }
            #page-nav-btn{
                justify-content: space-around;
                
                >button{
                    width: 48px;
                    height: 48px;
                }
                
            }
        }
    }
}